@import 'src/index.scss';

.App {
  margin: 0;
  font-family: "Proxima Nova",Roboto,Arial,sans-serif,sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: $meli-light-gray;
  color: $meli-black;
}
