@import 'src/index.scss';

.header {
  background-color: $meli-yellow;

  & .search-bar-container {
    display: flex;
    justify-content: center;
    margin: 0 auto;
    padding: 8px 10%;
    height: 38px;
    max-width: 60%;

    & .search-input {
      flex: 1;
      margin-left: 24px;
      padding: 0 16px;
      border: none;
      border-radius: 3px 0 0 3px ;
      color: $meli-black;
      font-family: inherit;
      font-size: 16px;

      &:focus-visible {
        outline-color: $meli-medium-gray;
        outline-offset: -1px;
      }
    }

    & .search-button {
      padding: 11px;
      border: none;
      border-radius: 0 3px 3px 0;
      background-color: $meli-light-gray;

      & .search-icon {
        width: 16px;
      }
    }
  }
}
